@import 'palette.scss';

:root {
  --mdui-color-primary-light: var(--mdui-ref-palette-primary40);
  --mdui-color-primary-container-light: var(--mdui-ref-palette-primary95);
  --mdui-color-primary-fixed-light: var(--mdui-ref-palette-primary95);
  --mdui-color-primary-fixed-dim-light: var(--mdui-ref-palette-primary80);
  --mdui-color-on-primary-light: var(--mdui-ref-palette-primary100);
  --mdui-color-on-primary-container-light: var(--mdui-ref-palette-primary10);
  --mdui-color-on-primary-fixed-light: var(--mdui-ref-palette-primary10);
  --mdui-color-on-primary-fixed-variant-light: var(--mdui-ref-palette-primary20);
  --mdui-color-inverse-primary-light: var(--mdui-ref-palette-primary80);
  --mdui-color-secondary-light: var(--mdui-ref-palette-secondary40);
  --mdui-color-secondary-container-light: var(--mdui-ref-palette-secondary95);
  --mdui-color-secondary-fixed-light: var(--mdui-ref-palette-secondary90);
  --mdui-color-secondary-fixed-dim-light: var(--mdui-ref-palette-secondary80);
  --mdui-color-on-secondary-light: var(--mdui-ref-palette-secondary100);
  --mdui-color-on-secondary-container-light: var(--mdui-ref-palette-secondary10);
  --mdui-color-on-secondary-fixed-light: var(--mdui-ref-palette-secondary10);
  --mdui-color-on-secondary-fixed-variant-light: var(--mdui-ref-palette-secondary20);
  --mdui-color-tertiary-light: var(--mdui-ref-palette-tertiary40);
  --mdui-color-tertiary-container-light: var(--mdui-ref-palette-tertiary95);
  --mdui-color-tertiary-fixed-light: var(--mdui-ref-palette-tertiary95);
  --mdui-color-tertiary-fixed-dim-light: var(--mdui-ref-palette-tertiary80);
  --mdui-color-on-tertiary-light: var(--mdui-ref-palette-tertiary100);
  --mdui-color-on-tertiary-container-light: var(--mdui-ref-palette-tertiary10);
  --mdui-color-on-tertiary-fixed-light: var(--mdui-ref-palette-tertiary10);
  --mdui-color-on-tertiary-fixed-variant-light: var(--mdui-ref-palette-tertiary20);
  --mdui-color-surface-dim-light: var(--mdui-ref-palette-neutral87);
  --mdui-color-surface-bright-light: var(--mdui-ref-palette-neutral98);
  --mdui-color-surface-container-lowest-light: var(--mdui-ref-palette-neutral100);
  --mdui-color-surface-container-low-light: var(--mdui-ref-palette-neutral96);
  --mdui-color-surface-container-light: var(--mdui-ref-palette-neutral94);
  --mdui-color-surface-container-high-light: var(--mdui-ref-palette-neutral92);
  --mdui-color-surface-container-highest-light: var(--mdui-ref-palette-neutral90);
  --mdui-color-surface-variant-light: var(--mdui-ref-palette-neutral-variant95);
  --mdui-color-on-surface-light: var(--mdui-ref-palette-neutral10);
  --mdui-color-on-surface-variant-light: var(--mdui-ref-palette-neutral-variant30);
  --mdui-color-inverse-surface-light: var(--mdui-ref-palette-neutral20);
  --mdui-color-inverse-on-surface-light: var(--mdui-ref-palette-neutral95);
  --mdui-color-background-light: var(--mdui-ref-palette-neutral95);
  --mdui-color-on-background-light: var(--mdui-ref-palette-on-background-light);
  --mdui-color-error-light: var(--mdui-ref-palette-error30);
  --mdui-color-error-container-light: var(--mdui-ref-palette-error95);
  --mdui-color-on-error-light: var(--mdui-ref-palette-error100);
  --mdui-color-on-error-container-light: var(--mdui-ref-palette-error10);
  --mdui-color-outline-light: var(--mdui-ref-palette-neutral-variant50);
  --mdui-color-shadow-light: var(--mdui-ref-palette-neutral0);
  --mdui-color-surface-tint-color-light: var(--mdui-ref-palette-surface-tint-light);
  --mdui-color-scrim-light: var(--mdui-ref-palette-neutral0);
  --mdui-color-primary-dark: var(--mdui-ref-palette-primary80);
  --mdui-color-primary-container-dark: var(--mdui-ref-palette-primary30);
  --mdui-color-primary-fixed-dark: var(--mdui-ref-palette-primary95);
  --mdui-color-primary-fixed-dim-dark: var(--mdui-ref-palette-primary80);
  --mdui-color-on-primary-dark: var(--mdui-ref-palette-primary20);
  --mdui-color-on-primary-container-dark: var(--mdui-ref-palette-primary95);
  --mdui-color-on-primary-fixed-dark: var(--mdui-ref-palette-primary10);
  --mdui-color-on-primary-fixed-variant-dark: var(--mdui-ref-palette-primary20);
  --mdui-color-inverse-primary-dark: var(--mdui-ref-palette-primary40);
  --mdui-color-secondary-dark: var(--mdui-ref-palette-secondary80);
  --mdui-color-secondary-container-dark: var(--mdui-ref-palette-secondary30);
  --mdui-color-secondary-fixed-dark: var(--mdui-ref-palette-secondary95);
  --mdui-color-secondary-fixed-dim-dark: var(--mdui-ref-palette-secondary80);
  --mdui-color-on-secondary-dark: var(--mdui-ref-palette-secondary20);
  --mdui-color-on-secondary-container-dark: var(--mdui-ref-palette-secondary95);
  --mdui-color-on-secondary-fixed-dark: var(--mdui-ref-palette-secondary10);
  --mdui-color-on-secondary-fixed-variant-dark: var(--mdui-ref-palette-secondary20);
  --mdui-color-tertiary-dark: var(--mdui-ref-palette-tertiary80);
  --mdui-color-tertiary-container-dark: var(--mdui-ref-palette-tertiary30);
  --mdui-color-tertiary-fixed-dark: var(--mdui-ref-palette-tertiary95);
  --mdui-color-tertiary-fixed-dim-dark: var(--mdui-ref-palette-tertiary80);
  --mdui-color-on-tertiary-dark: var(--mdui-ref-palette-tertiary20);
  --mdui-color-on-tertiary-container-dark: var(--mdui-ref-palette-tertiary95);
  --mdui-color-on-tertiary-fixed-dark: var(--mdui-ref-palette-tertiary10);
  --mdui-color-on-tertiary-fixed-variant-dark: var(--mdui-ref-palette-tertiary20);
  --mdui-color-surface-dark: var(--mdui-ref-palette-neutral0);
  --mdui-color-surface-dim-dark: var(--mdui-ref-palette-neutral0);
  --mdui-color-surface-bright-dark: var(--mdui-ref-palette-neutral24);
  --mdui-color-surface-container-lowest-dark: var(--mdui-ref-palette-neutral4);
  --mdui-color-surface-container-low-dark: var(--mdui-ref-palette-neutral10);
  --mdui-color-surface-container-dark: var(--mdui-ref-palette-neutral12);
  --mdui-color-surface-container-high-dark: var(--mdui-ref-palette-neutral17);
  --mdui-color-surface-container-highest-dark: var(--mdui-ref-palette-neutral22);
  --mdui-color-surface-variant-dark: var(--mdui-ref-palette-neutral24);
  --mdui-color-on-surface-dark: var(--mdui-ref-palette-neutral90);
  --mdui-color-on-surface-variant-dark: var(--mdui-ref-palette-neutral-variant80);
  --mdui-color-inverse-surface-dark: var(--mdui-ref-palette-neutral90);
  --mdui-color-inverse-on-surface-dark: var(--mdui-ref-palette-neutral20);
  --mdui-color-background-dark: var(--mdui-ref-palette-background-dark);
  --mdui-color-on-background-dark: var(--mdui-ref-palette-on-background-dark);
  --mdui-color-error-dark: var(--mdui-ref-palette-error70);
  --mdui-color-error-container-dark: var(--mdui-ref-palette-error30);
  --mdui-color-on-error-dark: var(--mdui-ref-palette-error20);
  --mdui-color-on-error-container-dark: var(--mdui-ref-palette-error95);
  --mdui-color-outline-dark: var(--mdui-ref-palette-neutral-variant60);
  --mdui-color-outline-variant-dark: var(--mdui-ref-palette-neutral-variant30);
  --mdui-color-shadow-dark: var(--mdui-ref-palette-neutral0);
  --mdui-color-surface-tint-color-dark: var(--mdui-ref-palette-surface-tint-dark);
  --mdui-color-scrim-dark: var(--mdui-ref-palette-neutral0);

  // Extended Colors
  --mdui-color-success-light: var(--mdui-ref-palette-success40);
  --mdui-color-on-success-light: var(--mdui-ref-palette-success100);
  --mdui-color-success-container-light: var(--mdui-ref-palette-success90);
  --mdui-color-on-success-container-light: var(--mdui-ref-palette-success10);
  --mdui-color-warning-light: var(--mdui-ref-palette-warning40);
  --mdui-color-on-warning-light: var(--mdui-ref-palette-warning100);
  --mdui-color-warning-container-light: var(--mdui-ref-palette-warning90);
  --mdui-color-on-warning-container-light: var(--mdui-ref-palette-warning10);
  --mdui-color-information-light: var(--mdui-ref-palette-information40);
  --mdui-color-on-information-light: var(--mdui-ref-palette-information100);
  --mdui-color-information-container-light: var(--mdui-ref-palette-information90);
  --mdui-color-on-information-container-light: var(--mdui-ref-palette-information10);
  --mdui-color-success-dark: var(--mdui-ref-palette-success80);
  --mdui-color-on-success-dark: var(--mdui-ref-palette-success20);
  --mdui-color-success-container-dark: var(--mdui-ref-palette-success30);
  --mdui-color-on-success-container-dark: var(--mdui-ref-palette-success90);
  --mdui-color-warning-dark: var(--mdui-ref-palette-warning80);
  --mdui-color-on-warning-dark: var(--mdui-ref-palette-warning20);
  --mdui-color-warning-container-dark: var(--mdui-ref-palette-warning30);
  --mdui-color-on-warning-container-dark: var(--mdui-ref-palette-warning90);
  --mdui-color-information-dark: var(--mdui-ref-palette-information80);
  --mdui-color-on-information-dark: var(--mdui-ref-palette-information20);
  --mdui-color-information-container-dark: var(--mdui-ref-palette-information30);
  --mdui-color-on-information-container-dark: var(--mdui-ref-palette-information90);
  --mdui-color-surface-light: var(--mdui-ref-palette-neutral98);
  --mdui-color-outline-variant-light: var(--mdui-ref-palette-neutral-variant80);
}
