.mdui-theme-light,
:root {
  color-scheme: light;
  --mdui-color-primary: var(--mdui-color-primary-light);
  --mdui-color-primary-container: var(--mdui-color-primary-container-light);
  --mdui-color-on-primary: var(--mdui-color-on-primary-light);
  --mdui-color-on-primary-container: var(--mdui-color-on-primary-container-light);
  --mdui-color-inverse-primary: var(--mdui-color-inverse-primary-light);
  --mdui-color-secondary: var(--mdui-color-secondary-light);
  --mdui-color-secondary-container: var(--mdui-color-secondary-container-light);
  --mdui-color-on-secondary: var(--mdui-color-on-secondary-light);
  --mdui-color-on-secondary-container: var(--mdui-color-on-secondary-container-light);
  --mdui-color-tertiary: var(--mdui-color-tertiary-light);
  --mdui-color-tertiary-container: var(--mdui-color-tertiary-container-light);
  --mdui-color-on-tertiary: var(--mdui-color-on-tertiary-light);
  --mdui-color-on-tertiary-container: var(--mdui-color-on-tertiary-container-light);
  --mdui-color-surface: var(--mdui-color-surface-light);
  --mdui-color-surface-dim: var(--mdui-color-surface-dim-light);
  --mdui-color-surface-bright: var(--mdui-color-surface-bright-light);
  --mdui-color-surface-container-lowest: var(--mdui-color-surface-container-lowest-light);
  --mdui-color-surface-container-low: var(--mdui-color-surface-container-low-light);
  --mdui-color-surface-container: var(--mdui-color-surface-container-light);
  --mdui-color-surface-container-high: var(--mdui-color-surface-container-high-light);
  --mdui-color-surface-container-highest: var(--mdui-color-surface-container-highest-light);
  --mdui-color-surface-variant: var(--mdui-color-surface-variant-light);
  --mdui-color-on-surface: var(--mdui-color-on-surface-light);
  --mdui-color-on-surface-variant: var(--mdui-color-on-surface-variant-light);
  --mdui-color-inverse-surface: var(--mdui-color-inverse-surface-light);
  --mdui-color-inverse-on-surface: var(--mdui-color-inverse-on-surface-light);
  --mdui-color-background: var(--mdui-color-background-light);
  --mdui-color-on-background: var(--mdui-color-on-background-light);
  --mdui-color-error: var(--mdui-color-error-light);
  --mdui-color-error-container: var(--mdui-color-error-container-light);
  --mdui-color-on-error: var(--mdui-color-on-error-light);
  --mdui-color-on-error-container: var(--mdui-color-on-error-container-light);
  --mdui-color-outline: var(--mdui-color-outline-light);
  --mdui-color-outline-variant: var(--mdui-color-outline-variant-light);
  --mdui-color-shadow: var(--mdui-color-shadow-light);
  --mdui-color-surface-tint-color: var(--mdui-color-surface-tint-color-light);
  --mdui-color-scrim: var(--mdui-color-scrim-light);
  color: rgba(var(--mdui-color-on-background-light), 1);
  background-color: rgba(var(--mdui-color-background-light), 1);
}
